<!DOCTYPE html>
<html>
<head>
    <title>To Do List</title>
    <meta http-equiv="Content-type" content="text/html" charset="utf-8">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <img src="image/avatar.png"  />
    <h1> To Do List</h1>
    <div class="container-fluid">   
        <form class="info">
            <div class="form-group">
                <label for="issues">待办事项</label>
                <input type="text" class="form-control" id="issues">
            </div>
            <button type="button" class="btn btn-default sub-btn">添加</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>代办事项</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</html>